#login {
    max-width: 95%;
    margin: auto;
    width: 380px;
    margin-top: 5%;
  }

  #logo-cliente {
    max-width: 100%;
    margin: auto;
    width: 700px;    
  }

  #logo-santri {
    max-width: 50%;
    margin: auto;
    width: 380px;    
  }